
@font-face{
    font-family:'medium';
    src:url(./RedHatDisplay-Medium.ttf)
}
@font-face {
    font-family: 'bold';
    src: url(./RedHatDisplay-Bold.ttf);
}
@font-face {
    font-family: 'black';
    src: url(./RedHatDisplay-Black.ttf);
}

*{
    margin:0;
    padding:0;
}

body{
    font-size: 15px;
    background-image: url(/images/pattern-background-desktop.svg);
    background-color: hsl(225, 100%, 94%);
    background-size: 100% 47%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-repeat: no-repeat;
}

.contenu{
    background-color: white;
    width: max(22%, 25rem);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-top: 3rem;
    box-shadow: 2px 17px 20px 0 rgba(136, 149, 224, 0.29); 
}

img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.instructions {
    text-align: center;
    padding: 1.2rem;
    margin-left: 7px;
    margin-right: 7px;
}
h1 {
    font-size:1.5rem;
    font-family: 'black';
    color: hsl(223, 47%, 23%);
    margin-top: 10px

}
.instructions p {
    color:hsl(224, 23%, 55%);
    padding: 0.9rem;
    font-size: 14px;
    font-family: 'medium';
}
.plan {
    background-color: hsl(225, 100%, 98%);
    border-radius: 15px;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    height: 70px;
    padding: 10px;
    display:grid;
    grid-template-columns: 20% 50% 20%;  
    align-items: center;
    margin-top: -10px;
}

.icon{
    margin-left: 10px;
    width:5%;
}

.text{
    margin-right: 10px;
    margin-left: 10px;
}
.text p {
    color: hsl(224, 23%, 55%);
    font-size: 14px;
    font-family: 'medium';
}

h2 {
    font-size: 14px;
    font-family: 'black';
    margin-bottom: 10px;
    color:hsl(223, 47%, 23%);
}
a {
    justify-content: flex-end;
    color: hsl(245, 75%, 52%);
    font-size: 12px;
    text-align: end;
    font-family: 'black';
    font-weight: bold;
    padding-left: 30px;
}



input[type="submit"]{
    background:hsl(245, 75%, 52%);
    color:white;
    border-radius: 10px;
    padding:10px;
    width: 80%;
    border:1px;
    box-shadow: 5px -5px 30px rgba(29, 29, 29, 0.305); 
    padding: 10px;
    cursor: pointer;
    transition: 0.4ms;
    font-family: 'bold';
    font-size: 0.8rem;
    padding: 15px;
}

input[type="submit"]:hover{
    background: white;
    color:hsl(245, 75%, 52%);
    box-shadow: none;
}


.button{
    justify-content: center;
    display: flex;
    margin-top: 30px;
}

input[type="button"]{
    background:none;
    color:hsl(224, 23%, 55%);
    width: 80%;
    padding: 10px;
    cursor: pointer;
    font-family: 'bold';
    font-size: 0.8rem;
    font-weight: bold;
    border:0;
    margin-top:20px;
    margin-bottom: 20px;
}

.cancel{
    justify-content: center;
    display: flex;
    margin-bottom: 10px;
    font-weight: bold;
}

@media screen and (max-width: 1440px) {
    .contenu{
        margin: 5rem;
    }
}
    
.attribution { 
    font-size: 11px; text-align: center; 
    padding-top: 20px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}